<nav class="nav">
    <a class="nav-link active" [routerLink]="['/']" *ngIf="authService.loggedIn()">Home</a>
    <a class="nav-link" [routerLink]="['/login']" *ngIf="!authService.loggedIn()">Login</a>
    <a class="nav-link" [routerLink]="['/register']" *ngIf="!authService.loggedIn()">Register</a>
    <a class="nav-link" [routerLink]="['/profile']" *ngIf="authService.loggedIn()">Profile</a>
    <a class="nav-link" (click)="onLogoutClick()" href="#" *ngIf="authService.loggedIn()">Odjava</a>
</nav>