<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="sideBr">
            <app-sidebar></app-sidebar>
        </div>
        <div class="container" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div id="svakodnevno_bankarstvo" class="container-fluid">
                <div class="card card-1 animated fadeIn">
                    <h1 class="display-4">Svakodnevno bankarstvo</h1>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Ime i prezime</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">JMBG</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">CRK saglasnost</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.ime }} {{ klijent.prezime }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.maticni_broj }}</p>
                        </div>
                        <div class="col">
                            <p class="h6" [ngClass]="{Da:'text-success', Ne:'text-danger'}[klijent.saglasnost_za_crk]">{{ klijent.saglasnost_za_crk }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Broj lične karte</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Datum izdavanja</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Datum važenja</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.broj_lk }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.datum_izdavanja_lk }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.datum_vazenja_lk }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Segment</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Rejting</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Klasifikacija</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.segment_klijenta }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.rejting_klijenta }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.cb_klasifikacija }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Adresa</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Grad</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Kanton</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.adresa?.ulica_i_broj }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.adresa?.grad }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.adresa?.kanton }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">E-mail</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Fiksni telefon</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Mobilni telefon</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.mail_adresa }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.kucni_telefon }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.mobilni_telefon }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Radni status</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Firma zaposlenja</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Klijent prima platu</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="h6">{{ klijent.radni_status }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.firma_zaposlenja?.naziv }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ klijent.primanja_zadnji_mjesec }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="transakcijsko_poslovanje" class="container-fluid">
                <div class="card card-1">
                    <h1 class="display-4">Transakcijsko poslovanje</h1>
                    <div class="row">
                        <div class="col-5">
                            <small class="text-muted">Račun</small>
                        </div>
                        <div class="col-3" >
                            <small class="text-muted">Partija</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Datum ugovora</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Stanje na računu</small>
                        </div>
                    </div>
                    <div class="row" *ngFor="let rcn of racuni.data">
                        <div class="col-5">
                            <p class="h6">{{ rcn.opis_tipa_ugovora }}</p>
                        </div>
                        <div class="col-3">
                            <p class="h6">{{ rcn.partija }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ rcn.datum_otvaranja }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ rcn.stanje_racuna_ekv }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="krediti" class="container-fluid">
                <div class="card card-1">
                    <h1 class="display-4">Krediti</h1>
                    <div class="row">
                        <div class="col ">
                            <small class="text-muted">Naziv</small>
                        </div>
                        <div class="col" >
                            <small class="text-muted">Datum ugovora</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Datum dospjeća</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Odobreni iznos</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Kamatna stopa</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Ostatak duga</small>
                        </div>
                        <div class="col">
                            <small class="text-muted">Anuitet</small>
                        </div>
                    </div>
                    <div class="row" *ngFor="let kredit of krediti.data">
                        <div class="col">
                            <p class="h6">{{ kredit.opis_tipa_ugovora }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ kredit.datum_ugovora }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ kredit.datum_kraja_vazenja_ugovora }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ kredit.odobreni_iznos }}</p>
                        </div>
                        <div class="col">
                            <p class="h6">{{ kredit.stopa }}</p>
                        </div>
                        <div class="col">
                            <p class="h6"></p>
                        </div>
                        <div class="col">
                            <p class="h6"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="karticno_poslovanje" class="container-fluid">
                <div class="card card-1">
                    <h1 class="display-4">Kartično poslovanje</h1>
                    <div class="row">
                        <div class="col-4">
                            <small class="text-muted">Naziv</small>
                        </div>
                        <div class="col-2" >
                            <small class="text-muted">Vrsta kartice</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Tip kartice</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Datum važenja</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Stanje</small>
                        </div>
                    </div>
                    <div class="row" *ngFor="let kartica of kartice.data">
                        <div class="col-4">
                            <p class="h6">{{ kartica.opis }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ kartica.vrsta_kartice }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ kartica.tip_kartice }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ kartica.datum_vazenja }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ kartica.stanje }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="depoziti" class="container-fluid">
                <div class="card card-1">
                    <h1 class="display-4">Depoziti</h1>
                    <div class="row">
                        <div class="col-4">
                            <small class="text-muted">Naziv</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Datum ugovora</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Datum dospjeća</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Kamatna stopa</small>
                        </div>
                        <div class="col-2">
                            <small class="text-muted">Iznos oročenja (KM)</small>
                        </div>
                    </div>
                    <div class="row" *ngFor="let dpz of depoziti.data">
                        <div class="col-4">
                            <p class="h6">{{ dpz.opis_tipa_ugovora }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ dpz.datum_otvaranja }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ dpz.kraj_vazenja }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ dpz.stopa }}</p>
                        </div>
                        <div class="col-2">
                            <p class="h6">{{ dpz.stanje_racuna }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ostale_usluge" class="container-fluid">
                <div class="card card-1">
                    <h1 class="display-4">Ostale usluge</h1>
                    <div class="row">
                        <div class="col">
                            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>