.container {
    margin-top: 90px;
    margin-left: 2px;
    width: 65% !important;
}

.sideBr {
    width: 15% !important;
}

.uslugeKartica {
    position: fixed;
    top: 113px;
    right: 10px;
    width: 20% !important;
}