<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="sideBr">
            <app-sidebar></app-sidebar>
        </div>
        <div class="container" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div id="svakodnevno_bankarstvo" class="container-fluid">
                <div class="card card-1 animated fadeIn">
                    <h2 class="page-header">Svakodnevno bankarstvo</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Ime i prezime</td>
                                <th>{{ klijent.ime }} {{ klijent.prezime }}</th>
                                <td>JMBG</td>
                                <th>{{ klijent.maticni_broj }}</th>
                                <td>CRK saglasnost</td>
                                <th [ngClass]="{Da:'table-success', Ne:'table-danger'}[klijent.saglasnost_za_crk]">{{ klijent.saglasnost_za_crk }}</th>
                            </tr>
                            <tr>
                                <td>Broj lične karte</td>
                                <th>{{ klijent.broj_lk }}</th>
                                <td>Datum izdavanja</td>
                                <th>{{ klijent.datum_izdavanja_lk }}</th>
                                <td>Datum važenja</td>
                                <th>{{ klijent.datum_vazenja_lk }}</th>
                            </tr>
                            <tr>
                                <td>Segment</td>
                                <th>{{ klijent.segment_klijenta }}</th>
                                <td>Rejting</td>
                                <th>{{ klijent.rejting_klijenta }}</th>
                                <td>Klasifikacija</td>
                                <th>{{ klijent.cb_klasifikacija }}</th>
                            </tr>
                            <tr>
                                <td>Adresa</td>
                                <th>{{ klijent.adresa?.ulica_i_broj }}</th>
                                <td>Grad</td>
                                <th>{{ klijent.adresa?.grad }}</th>
                                <td>Kanton</td>
                                <th>{{ klijent.adresa?.kanton }}</th>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <th>{{ klijent.mail_adresa }}</th>
                                <td>Fiksni telefon</td>
                                <th>{{ klijent.kucni_telefon }}</th>
                                <td>Mobilni telefon</td>
                                <th>{{ klijent.mobilni_telefon }}</th>
                            </tr>
                            <tr>
                                <td>Radni status</td>
                                <th>{{ klijent.radni_status }}</th>
                                <td>Firma zaposlenja</td>
                                <th>{{ klijent.firma_zaposlenja?.naziv }}</th>
                                <td>Klijent prima platu</td>
                                <th>{{ klijent.primanja_zadnji_mjesec }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="transakcijsko_poslovanje" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Transakcijsko poslovanje</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Račun</td>
                                <td>Broj aktivnih partija</td>
                                <td>Datum ugovora</td>
                                <td>Šifra valute</td>
                                <td>Stanje na računu</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="paketi" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Paketi</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <th>Proizvod</th>
                                <th>Datum ugovora</th>
                            </tr>
                            <tr>
                                <td>Smart plus</td>
                                <td>23.12.2014</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="prekoracenje" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Prekoračenje</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Opis tipa ugovora</td>
                                <td>Datum otvaranja</td>
                                <td>Odobreni iznos</td>
                            </tr>
                            <tr>
                                <th>Tip ugovora</th>
                                <th>23.12.2014</th>
                                <th>2.000,00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="krediti" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Krediti</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Naziv</td>
                                <td>Datum ugovora</td>
                                <td>Datum dospjeća</td>
                                <td>Odobreni iznos</td>
                                <td>Kamatna stopa</td>
                                <td>Ostatak duga</td>
                                <td>Anuitet</td>
                            </tr>
                            <tr>
                                <th>Gotovisnki kredit</th>
                                <th>23.12.2014</th>
                                <th>23.12.2019</th>
                                <th>17.000,00</th>
                                <th>9,48</th>
                                <th>9.315,48</th>
                                <th>9,48</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="karticno_poslovanje" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Kartično poslovanje</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Naziv</td>
                                <td>Vrsta kartice</td>
                                <td>Tip kartice</td>
                                <td>Datum važenja</td>
                                <td>Odobreni iznos</td>
                            </tr>
                            <tr>
                                <th>Debit MasterCard</th>
                                <th>Debitna</th>
                                <th></th>
                                <th>23.12.2018</th>
                                <th>2.000,00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="depoziti" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Depoziti</h2>
                    <table class="table table-responsive-lg table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>Naziv</td>
                                <td>Datum ugovora</td>
                                <td>Datum dospjeća</td>
                                <td>Kamatna stopa</td>
                                <td>Iznos oročenja (KM)</td>
                            </tr>
                            <tr>
                                <th>Oročena štednja</th>
                                <th>23.12.2014</th>
                                <th>23.12.2018</th>
                                <th>2,53</th>
                                <th>5.000,00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="ostale_usluge" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Ostale usluge</h2>
                    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                </div>
            </div>

            <div id="izvodi" class="container-fluid">
                <div class="card card-1">
                    <h2 class="page-header">Izvodi</h2>
                    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                </div>
            </div>
        </div>
    </div>
</div>