<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="sideBr">
            <app-sidebar></app-sidebar>
        </div>

        <div class="container" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <br>
            <div id="svakodnevno_bankarstvo">
                <div class="card card-1">
                    <div class="card-header">Svakodnevno bankarstvo</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted">Ime i prezime</p>
                                <p class="text-muted">JMBG</p>
                                <p class="text-muted">Broj lične karte</p>
                                <p class="text-muted">Datum izdavanja</p>
                                <p class="text-muted">Datum važenja</p>
                                <p class="text-muted">CRK saglasnost</p>
                            </div>
                            <div class="col">
                                <p class="text-primary">{{ klijent.ime }} {{ klijent.prezime }}</p>
                                <p class="text-primary">{{ klijent.maticni_broj }}</p>
                                <p class="text-primary">{{ klijent.broj_lk }}</p>
                                <p class="text-primary">{{ klijent.datum_izdavanja_lk | date:'dd/MM/yyyy' }}</p>
                                <p class="text-primary">{{ klijent.datum_vazenja_lk | date:'dd/MM/yyyy' }}</p>
                                <p [ngClass]="{Da:'text-success', Ne:'text-danger'}[klijent.saglasnost_za_crk]">{{ klijent.saglasnost_za_crk }}</p>
                            </div>
                            <div class="col">
                                <p class="text-muted">Adresa</p>
                                <p class="text-muted">Grad</p>
                                <p class="text-muted">Kanton</p>
                                <p class="text-muted">E-mail</p>
                                <p class="text-muted">Fiksni telefon</p>
                                <p class="text-muted">Mobilni telefon</p>
                            </div>
                            <div class="col">
                                <p class="text-primary">{{ klijent.adresa?.ulica_i_broj }}</p>
                                <p class="text-primary">{{ klijent.adresa?.grad }}</p>
                                <p class="text-primary">{{ klijent.adresa?.kanton }}</p>
                                <p class="text-primary">{{ klijent.mail_adresa }}</p>
                                <p class="text-primary">{{ klijent.kucni_telefon }}</p>
                                <p class="text-primary">{{ klijent.mobilni_telefon }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="transakcijsko_poslovanje">
                <div class="card card-1">
                    <div class="card-header">Transakcijsko poslovanje</div>
                    <div class="card-body">
                        <div *ngFor="let rcn of racuni.data; let idx = index">
                            <div class="row" >
                                <div class="col-4">
                                    <p class="card-subtitle mb-2 text-muted">Račun</p>
                                    <p class="text-primary">{{ rcn.ugovor.opis_tipa_ugovora }}</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Partija</p>
                                    <p class="text-primary">{{ rcn.ugovor.partija }}</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Datum ugovora</p>
                                    <p class="text-primary">{{ rcn.datum_ugovora | date:'dd/MM/yyyy' }}</p>
                                    <p class="text-primary">{{ rcn.datum_vazenja | date:'dd/MM/yyyy' }}</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Stanje na računu</p>
                                    <p class="text-primary">{{ rcn.stanje_racuna | number:'.2' }} BAM</p>
                                </div>
                                <div col="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Status računa</p>
                                    <div *ngIf="!rcn.aktivan_racun">
                                        <p class="text-danger">Neaktivan račun</p>
                                    </div>
                                    <div *ngIf="rcn.aktivan_racun">
                                        <p class="text-success">Aktivan račun</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="karticno_poslovanje">
                <div class="card card-1">
                    <div class="card-header">Kartično poslovanje</div>
                    <div class="card-body">
                        <div *ngFor="let kart of kartice; let idx = index">
                            <div class="row">
                                <div class="col">
                                    <p class="card-subtitle mb-2 text-muted">Opis tipa ugovora</p>
                                    <p class="text-primary">{{ kart.ugovor.opis_tipa_ugovora }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-subtitle mb-2 text-muted">Račun</p>
                                    <p class="text-primary">{{ kart.racunUgovor.opis_tipa_ugovora }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Partija</p>
                                    <p class="text-primary">{{ kart.racunUgovor.partija }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-subtitle mb-2 text-muted">Vrsta kartice</p>
                                    <p class="text-primary">{{ kart.vrsta_kartice }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Tip kartice</p>
                                    <p class="text-primary">{{ kart.tip_kartice }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-subtitle mb-2 text-muted">Datum ugovora</p>
                                    <p class="text-primary">{{ kart.datum_ugovora | date:'dd/MM/yyyy' }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Datum važenja</p>
                                    <p class="text-primary">{{ kart.datum_vazenja | date:'dd/MM/yyyy' }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-subtitle mb-2 text-muted">Status kartice</p>
                                    <div *ngIf="!kart.aktivna_kartica">
                                        <p class="text-danger">Neaktivna kartica</p>
                                    </div>
                                    <div *ngIf="kart.aktivna_kartica">
                                        <p class="text-success">Aktivna kartica</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="krediti">
                <div class="card card-1">
                    <div class="card-header">Krediti</div>
                    <div class="card-body">
                        <div *ngFor="let kredit of krediti.data; let idx = index">
                            <div class="row" >
                                <div class="col-4">
                                    <p class="card-subtitle mb-2 text-muted">Opis</p>
                                    <p class="text-primary">{{ kredit.ugovor.opis_tipa_ugovora }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Partija</p>
                                    <p class="text-primary">{{ kredit.ugovor.partija }}</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Datum ugovora</p>
                                    <p class="text-primary">{{ kredit.datum_ugovora | date:'dd/MM/yyyy' }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Datum važenja</p>
                                    <p class="text-primary">{{ kredit.datum_vazenja | date:'dd/MM/yyyy' }}</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Odobreni iznos</p>
                                    <p class="text-primary">{{ kredit.odobreni_iznos | number:'.2' }} BAM</p>
                                    <p class="card-subtitle mb-2 text-muted">Kamatna stopa</p>
                                    <p class="text-primary">{{ kredit.stopa }} %</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Ostatak duga</p>
                                    <p class="text-primary">{{ kredit.nedospjela_glavnica | number:'.2' }} BAM</p>
                                    <p class="card-subtitle mb-2 text-muted">Glavnica ostatak</p>
                                    <p class="text-primary">{{ kredit.glavnica_ostatak | number:'.2' }} BAM</p>
                                </div>
                                <div class="col-2">
                                    <p class="card-subtitle mb-2 text-muted">Anuitet</p>
                                    <p class="text-primary">{{ kredit.iznos_anuitet | number:'.2' }} BAM</p>
                                    <p class="card-subtitle mb-2 text-muted">Dospjela glavnica</p>
                                    <p class="text-primary">{{ kredit.dospjela_glavnica | number:'.2' }} BAM</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="depoziti">
                <div class="card card-1">
                    <div class="card-header">Depoziti</div>
                    <div class="card-body">
                        <div *ngFor="let dpz of depoziti.data; let idx = index">
                            <div class="row" >
                                <div class="col-6">
                                    <p class="card-subtitle mb-2 text-muted">Opis</p>
                                    <p class="text-primary">{{ dpz.ugovor.opis_tipa_ugovora }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Partija</p>
                                    <p class="text-primary">{{ dpz.ugovor.partija }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card-subtitle mb-2 text-muted">Datum ugovora</p>
                                    <p class="text-primary">{{ dpz.datum_ugovora | date:'dd/MM/yyyy' }}</p>
                                    <p class="card-subtitle mb-2 text-muted">Datum važenja</p>
                                    <p class="text-primary">{{ dpz.datum_vazenja | date:'dd/MM/yyyy' }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card-subtitle mb-2 text-muted">Iznos oročenja</p>
                                    <p class="text-primary">{{ dpz.stanje_racuna | number:'.2' }} BAM</p>
                                    <p class="card-subtitle mb-2 text-muted">Kamatna stopa</p>
                                    <p class="text-primary">{{ dpz.stopa }} %</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="ostale_usluge">
                <div class="card card-1">
                    <div class="card-header">Dodatne usluge</div>
                    <div class="card-body">
                        <h5><span *ngFor="let usluga of dodatne_usluge">
                            <span class="badge floating-box">{{ usluga.naziv_ponude }}</span>
                        </span></h5>
                    </div>
                </div>
            </div>
            <br>
            <div id="biljeske">
                <div class="card card-1">
                    <div class="card-header">Bilješke</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm" *ngIf="biljeske.data">
                                <ul *ngFor="let biljeska of biljeske.data | paginate: { itemsPerPage: 3, currentPage: biljeskePage, id: 'biljeske_pagination' }">
                                    <li>
                                        <button type="button" class="btn btn-link" (click)="showBiljeska(biljeska)" style="color: #6F7D95;">{{ biljeska.kreirao.korisnicko_ime }}_{{ biljeska.datum_kreiranja | date:'dd/MM/yyyy' }}</button>
                                    </li>
                                </ul>
                                <pagination-controls class="text-left" (pageChange)="biljeskePage = $event" id="biljeske_pagination" previousLabel="Prethodna" nextLabel="Slijedeća"></pagination-controls>
                            </div>
                            <div class="col-sm">
                                <p class="text-muted"><em>{{ biljeskaNaslov }}</em></p>
                                <p>{{ biljeskaPrikaz }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="arhiva_interakcija">
                <div class="card card-1">
                    <div class="card-header">Arhiva interakcija</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm" *ngIf="arhivaPonuda.data">
                                <ul *ngFor="let arhiva of arhivaPonuda.data | paginate: { itemsPerPage: 3, currentPage: arhivaPonudaPage, id: 'arhivaPonuda_pagination' }">
                                    <li>
                                        <button type="button" class="btn btn-link" (click)="showArhiva(arhiva)" style="color: #6F7D95;">{{ arhiva.evidentirao.korisnicko_ime }}_{{ arhiva.datum_evidentiranja | date:'dd/MM/yyyy' }}</button>
                                    </li>
                                </ul>
                                <pagination-controls class="text-left" (pageChange)="arhivaPonudaPage = $event" id="arhivaPonuda_pagination" previousLabel="Prethodna" nextLabel="Slijedeća"></pagination-controls>
                            </div>
                            <div class="col-sm">
                                <p class="text-muted"><em>{{ arivaPonudaNaslov }}</em></p>
                                <p>{{ arhivaPonudaPonudjeneUsluge }}</p>
                                <p>{{ arhivaPonudaUgovoreneUsluge }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="vremenska_linija">
                <div class="card card-1">
                    <div class="card-header">Vremenska linija korisnika</div>
                    <div class="card-body">
                        <ul class="timeline" *ngFor="let timel of time_line; let even = even; let odd = odd">
                            <li [ngClass]="{true: 'timeline-inverted', false: ''}[even]">
                                <div class="timeline-badge" [ngClass]="{kartica: 'info', depozit: 'warning', kredit: 'primary', racun: 'secondary'}[timel.type]"><i [ngClass]="{kartica: 'fa fa-credit-card', depozit: 'fa fa-line-chart', kredit: 'fa fa-file-text-o', racun: 'fa fa-handshake-o'}[timel.type]" aria-hidden="true"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{ timel.ugovor.opis_tipa_ugovora }}</h4>
                                        <div *ngIf="timel.type == 'kartica'">
                                            <p class="text-muted">Partija: {{ timel.racunUgovor.partija }}</p>
                                            <div *ngIf="!timel.aktivna_kartica">
                                                <p class="text-danger">Neaktivna kartica</p>
                                            </div>
                                            <div *ngIf="timel.aktivna_kartica">
                                                <p class="text-success">Aktivna kartica</p>
                                            </div>
                                        </div>
                                        <p class="text-muted" *ngIf="timel.type != 'kartica'">Partija: {{ timel.ugovor.partija }}</p>
                                        <p class="text-muted">Datum ugovora: {{ timel.datum_ugovora | date:'dd/MM/yyyy' }}</p>
                                        <p class="text-muted" *ngIf="timel.datum_vazenja">Datum važenja: {{ timel.datum_vazenja | date:'dd/MM/yyyy' }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="timeline">
                            <li class="timeline-inverted" *ngIf="klijent._id">
                                <div class="timeline-badge success"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Evidencija klijenta</h4>
                                        <p class="text-muted">{{ klijent.datum_evidentiranja | date:'dd/MM/yyyy' }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightPanel">
            <div class="card border-success card-1" style="height: 50%;">
                <div class="card-header">Preporučene usluge</div>
                <div class="card-body" style="overflow-y: auto">
                    <p><span class="text-muted">Ponuđeno</span><span class="text-muted float-right">Ugovoreno</span></p>
                    <table class="table table-hover table-sm">
                        <tbody *ngFor="let ponuda of preporucene_ponude" class="scrollable" style="overflow-y:scroll;">
                            <tr>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input id="p_{{ponuda._id}}" name="ponuda_{{ponuda._id}}" value="p" class="custom-control-input" type="radio" (click)="checkPonude($event, ponuda)" onfocus="this.oldvalue = this.checked;">
                                        <label class="custom-control-label" for="p_{{ponuda._id}}"></label>
                                    </div>
                                </td>
                                <td class="col-5 text-center">{{ponuda.naziv_ponude}}</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input id="u_{{ponuda._id}}" name="ponuda_{{ponuda._id}}" value="u" class="custom-control-input" type="radio" (click)="checkPonude($event, ponuda)" onfocus="this.oldvalue = this.checked;">
                                        <label class="custom-control-label" for="u_{{ponuda._id}}"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="padding:10px;">
                    <button type="button" class="btn btn-link" (click)="onCardClick()">Sačuvaj</button>
                </div>
            </div>

            <div class="card border-warning card-1" style="height:30%; margin-top:15px;">
                <div class="card-header">Bilješke</div>
                <div class="card-body" style="overflow-y: auto">
                    <textarea class="form-control" id="biljeskaTextarea" [(ngModel)]="biljeskaTxt" rows="6" style="border: none; box-shadow: none; resize:none;"></textarea>
                </div>
                <div style="padding:10px;">
                    <button type="button" class="btn btn-link" (click)="onBiljeskeSacuvajClick()">Sačuvaj</button>
                </div>
            </div>
        </div>
    </div>
</div>