<div class="w-50 p-3 registerBlock card-2">
    <h1 class="display-5">Registracija korisnika</h1>
    <div style="text-align: right; margin-top:-80px;">
        <img src="../../assets/small.png" alt="app" class="float:right;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" for="idUposlenikaTextbox">ID uposlenika</label>
                <input class="form-control" [(ngModel)]="id_uposlenika" name="id_uposlenika" id="idUposlenikaTextbox" type="text" placeholder="ID">
                <div class="invalid-feedback">Obavezan unos!</div>
            </div>
            <div class="col form-group">
                <label class="form-control-label" for="korisnickoimeTextbox">Korisničko ime</label>
                <input class="form-control" [(ngModel)]="korisnicko_ime" name="korisnicko_ime" id="korisnickoimeTextbox" type="text" placeholder="Korisničko ime minimalno 5 karaktera">
                <div class="invalid-feedback">Obavezan unos!</div>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" for="imeTextbox">Ime</label>
                <input class="form-control" [(ngModel)]="ime" name="ime" id="imeTextbox" type="text" placeholder="Ime">
                <div class="invalid-feedback">Obavezan unos!</div>
            </div>
            <div class="col form-group">
                <label class="form-control-label" for="prezimeTextbox">Prezime</label>
                <input class="form-control" [(ngModel)]="prezime" name="prezime" id="prezimeTextbox" type="text" placeholder="Prezime">
                <div class="invalid-feedback">Obavezan unos!</div>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" for="lozinkaTextbox">Lozinka</label>
                <input class="form-control" [(ngModel)]="lozinka" name="lozinka" id="lozinkaTextbox" type="password" placeholder="Lozinka">
                <div class="invalid-feedback">Obavezan unos!</div>
            </div>
            <div class="col form-group">
                <label class="form-control-label" for="potvrdaLozinkeTextbox">Potvrda lozinke</label>
                <input class="form-control" [(ngModel)]="potvrdaLozinke" name="potvrdaLozinke" id="potvrdaLozinkeTextbox" type="password" placeholder="Potvrda lozinke">
                <div class="invalid-feedback">Lozinke nisu iste!</div>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label class="form-control-label" for="emailTextbox">E-mail adresa</label>
                <input class="form-control" [(ngModel)]="email" name="email" id="emailTextbox" type="text" placeholder="E-mail">
                <div class="invalid-feedback">Pogrešan format!</div>
            </div>
            <div class="col form-group">
                <label class="form-control-label" for="odjelDropbox">Odjel</label>
                <select [(ngModel)]="odjel" class="w-100 custom-select" name="odjel" id="odjelDropbox" (change)="onOdjelChange()">
                    <option *ngFor="let o of odjeliLista?.data" [ngValue]="o">{{ o.organizaciona_jedinica }}</option>
                </select>
                <div class="invalid-feedback">Obavezan odabir!</div>
            </div>
        </div>
        <div class="row" *ngIf="prikaziPoslovnicu">
            <div class="col"></div>
            <div class="col form-group">
                <label class="form-control-label" for="poslovnicaDropbox">Poslovnica</label>
                <select [(ngModel)]="poslovnica" class="w-100 custom-select" name="poslovnica" id="poslovnicaDropbox">
                    <option *ngFor="let o of poslovniceLista?.data" [ngValue]="o">{{ o.naziv }}</option>
                </select>
                <div class="invalid-feedback">Obavezan odabir!</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" class="card-link" [routerLink]="['/login']">Nazad</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-success float-right" (click)="registracija()">Registracija</button>
            </div>
        </div>
    </div>
</div>