<div class="sdBar card-2" id="navbar-example2" style="overflow-y: auto">
    <br>
    <nav class="nav flex-column">
        <a class="nav-link" [routerLink]="['/clients']"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Klijenti</a>
        <a class="nav-link active" href="#svakodnevno_bankarstvo"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;Svakodnevno bankarstvo</a>
        <a class="nav-link" href="#transakcijsko_poslovanje"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Transakcijsko poslovanje</a>
        <a class="nav-link" href="#karticno_poslovanje"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;Kartično poslovanje</a>
        <a class="nav-link" href="#krediti"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Krediti</a>
        <a class="nav-link" href="#depoziti"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Depoziti</a>
        <a class="nav-link" href="#ostale_usluge"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Dodatne usluge</a>
        <a class="nav-link" href="#biljeske"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;&nbsp;Bilješke</a>
        <a class="nav-link" href="#arhiva_interakcija"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;Arhiva interakcija</a>
        <a class="nav-link" href="#vremenska_linija"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Vremenska linija korisnika</a>
        <a class="nav-link" [routerLink]="['/report']"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;&nbsp;Izvještaji</a>
    </nav>
</div>