<div class="sdBar card-2" id="navbar-example2">
    <br>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#svakodnevno_bankarstvo">Svakodnevno bankarstvo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#transakcijsko_poslovanje">Transakcijsko poslovanje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#krediti">Krediti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#karticno_poslovanje">Kartično poslovanje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#depoziti">Depoziti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ostale_usluge">Ostale usluge</a>
        </li>
    </ul>
</div>