<div class="sdBar card-2" id="navbar-example2">
    <br>
    <nav class="nav flex-column">
        <a class="nav-link" [routerLink]="['/clients']">Klijenti</a>
        <a class="nav-link active" href="#svakodnevno_bankarstvo">Svakodnevno bankarstvo</a>
        <a class="nav-link" href="#transakcijsko_poslovanje">Transakcijsko poslovanje</a>
        <a class="nav-link" href="#karticno_poslovanje">Kartično poslovanje</a>
        <a class="nav-link" href="#krediti">Krediti</a>
        <a class="nav-link" href="#depoziti">Depoziti</a>
        <a class="nav-link" href="#ostale_usluge">Dodatne usluge</a>
        <a class="nav-link" href="#biljeske">Bilješke</a>
        <a class="nav-link" href="#arhiva_interakcija">Arhiva interakcija</a>
        <a class="nav-link" href="#vremenska_linija">Vremenska linija korisnika</a>
        <a class="nav-link" [routerLink]="['/report']">Izvještaji</a>
    </nav>
</div>