<div class="loginBlock card-2">
    <img src="../../assets/app.png" alt="app" style="display: block; margin-left: auto; margin-right: auto;">
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label" for="korisnickoimeTextbox">Korisničko ime</label>
            <input class="form-control" [(ngModel)]="korisnicko_ime" name="korisnicko_ime" id="korisnickoimeTextbox" type="text" placeholder="Unesi korisničko ime" (keyup.enter)="prijava()">
            <div class="invalid-feedback">Obavezan unos!</div>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label" for="lozinkaTextbox">Lozinka</label>
            <input class="form-control" [(ngModel)]="lozinka" name="lozinka" id="lozinkaTextbox" type="password" placeholder="Unesi lozinku" (keyup.enter)="prijava()">
            <div class="invalid-feedback">Obavezan unos!</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-outline-success w-100" (click)="prijava()">Prijava</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p class="text-center"><a href="#" class="card-link" [routerLink]="['/register']">Novi korisnik? Registruj se ovdje</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center invisible" id="loginSpinner">
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
        </div>
    </div>
</div>